@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
     font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
h1{
    background-color: #473472;
    color: white;
    height: 7rem;
    line-height: 7rem;
    font-size: 45px;

}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    gap: 20px;
    
}

.choices1 {
    display: flex;
    gap: 10px;
    height: 165px;
    width: 165px;

}
.choices1:hover {
transform: scale(1.5);
transition:0.5s ;
cursor: pointer;
}

img {
   height: 150px;
   width: 150px;
   object-fit:cover;
   border-radius: 67px;

}
.score-bord {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 20px;
    padding: 10px;
    font-size: 2rem;
}
#user-score,#comp-score {
    font-size: 4rem;
    
}
#comp,#you {
    font-weight: bold;
}



.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; 

    
    
}



#msg {

    background-color: #473472;
    font-size: 35px;
    border-radius: 27px;
    padding: 10px;
    color: white;

    



}